{% extends "base.html" %}

{% block title %}
{{ topic.name }} Blogs
{% endblock %}

{% block content %}
<h1>Blogs in {{ topic.name }}</h1>
<ul>
    {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p><strong>Published on:</strong> {{ post.published_at }}</p>
            {% if post.image %}
                <div>
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;" />
                </div>
            {% else %}
                <p><em>No image available</em></p>
            {% endif %}
            <div>
                <p>{{ post.article }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
